<div class="center">
    <!-- <p style="cursor: pointer; margin-right: 5px;" (click)="exportAsPDF('printdiv');"><img height="70" src="https://ibcabs.in/bills/new/assets/img/download.png"></p> -->
    <p *ngIf="isConfirmVisible" style="cursor: pointer; margin-right: 5px" (click)="save();"><img height="70" src="https://ibcabs.in/bills/new/assets/img/confirm.png"></p>
</div>
<div class="container" id="printdiv" style="max-width: 1400px; min-height: 2000px; max-height: 100000px;">
    <p id="header">INVOICE</p>
    <div *ngIf="billgst !== '2'" id="identity" class="row col-xs-12">
        <div class="col-xs-1">
            <img src="https://ibcabs.in/bills/new/assets/img/ib.jpg" style="height:90px;width:90px;margin-top:-8px;">
        </div>
        <div class="col-xs-8">
            <p id="address">Registered Office : 195/2,Park Street, Kolkata - 700017.<br> Zonal Office: 86A, Tollygunge Road, Kolkata-700033.<br> Mobile: 9830800776, Tel: (033) 2424 6551, (033) 4007 8545<br> Email: indranilb@ibcabs.in, admin@ibcabs.in. Visit us at: www.ibcabs.in
                <br></p>
        </div>
        <div class="col-xs-3 gst">

        </div>


    </div>
    <div id="customer" [ngStyle]="{'margin-top.px':marginTop, 'margin-bottom.px': marginTop}" class="row" [style.display]="'block'">
        <div id="customer-title" class="col-xs-4" style="margin-right: 0px; max-width: 500px">
            To<br><br/>
            <b>{{billdetails.head[0].billto}}</b>
            <br/><br/> Mo: {{billdetails.head[0].contact}}
            <br/><br/> {{billdetails.head[0].pickuploc}}
            <br/><br/>
            <br/><br/> <b>GST :</b><span style="margin-right: 10px;">{{billdetails.head[0].gst}}</span><br/><br/>
            <span><b>Subject:   {{billdetails.head[0].subject}}</b></span>
        </div>
        <!-- <div class="col-xs-4" style="width: 20%;">

              </div> -->
        <div class="col-xs-4" style="float: right;">
            <table id="meta">
                <tbody>
                    <tr>
                        <td class="meta-head"><b>Bill No.</b></td>
                        <td style="text-align: center;"><input style="border:none;text-align: center;" matInput type="text" [(ngModel)]="billno" required></td>
                    </tr>
                    <tr>
                        <td class="meta-head"><b>Bill Date</b></td>
                        <td style="text-align: center;"><input style="border:none;text-align: center;" matInput type="text" [(ngModel)]="billdate" required></td>
                    </tr>

                    <tr>
                        <td class="meta-head"><b>Billing Period</b></td>
                        <td>From: {{billfrom | date:'dd/MM/yyyy'}} To: {{billto | date:'dd/MM/yyyy'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <br/><br/>
    <!-- <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="avatar-image-partyhead"></div>
              <mat-card-title>Bill Register</mat-card-title>
              <mat-card-subtitle>View, Delete and View the Bills Here.</mat-card-subtitle>
            </mat-card-header>
          </mat-card> -->
    <div style="margin-top: 130px;">
        <table>
            <tr>
                <th style="text-align: center;">Sl. No</th>
                <th style="text-align: center;">Booking Id</th>
                <th style="text-align: center;">Duty Date</th>
                <th style="text-align: center;">Report To</th>
                <th style="text-align: center;">Car No. </th>
                <th style="text-align: center;">Car Type</th>
                <th style="text-align: center;">Hours</th>
                <th style="text-align: center;">KMs</th>
                <th style="text-align: center;">Rate</th>
                <th style="text-align: center;">Amount</th>
                <th style="text-align: center;">Parking/Toll</th>
                <th style="text-align: center;">Outstation</th>
            </tr>
            <tr *ngFor="let row of billdetails.body">
                <td style="text-align: center;">{{row.sl}}</td>
                <td style="text-align: center;">{{row.bookingid}}</td>
                <td style="text-align: center;">{{row.dutydate | date:'dd/MM/yyyy'}}</td>
                <td style="text-align: center;">{{row.reportto}}</td>
                <td style="text-align: center;">{{row.carno}}</td>
                <td style="text-align: center;">{{row.cartype}}</td>
                <td *ngIf="row.ispackage === 1" colspan="2" style="text-align: center;">{{row.packagefor}}</td>
                <td *ngIf="row.ispackage === 0" style="text-align: center;">{{row.hour}}</td>
                <td *ngIf="row.ispackage === 0" style="text-align: center;">{{row.km}}</td>
                <td style="text-align: center;">{{row.rate}}</td>
                <td style="text-align: center;">{{row.amount}}</td>
                <td style="text-align: center;">{{row.parking}}</td>
                <td style="text-align: center;">{{row.outstation}}</td>
            </tr>
        </table>
    </div>

    <div [ngStyle]="{'margin-top.px':marginTop}" id="customer" style="display: block;" class="row">
        <br><br>
        <div id="customer-title" class="col-xs-3" style="max-width: 300px;">
            <!-- <table *ngIf="billgst !== '2'">
                <tbody>
                    <tr>
                        <th class="meta-head" colspan="2" style="text-align: center !important;"><b>GST CALCULATION</b></th>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">Taxable Amount : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].taxableamount}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">CGST @2.5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].cgst}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">SGST @2.5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].sgst}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">IGST @5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].igst}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">Total GST Amount : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].total}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>

            <table *ngIf="billgst !== '2'">
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align: center !important;"><b> GST Amount in words: <br/>{{gstamountinwords}} </b></td>
                    </tr>
                </tbody>
            </table>
            <br/><br/> -->
            <table *ngIf="billgst !== '2'">
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align: center !important;">PAN:AHOPB6443K</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center !important;">GSTIN:19AHOPB6443K1ZZ</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center !important;">SAC Code:996601</td>
                    </tr>
                </tbody>
                <br/>


            </table>
            <span>Enclose. : {{totalno}} no. of original duty slips</span>
            <br>


        </div>

        <div class="col-xs-6" style="float: right;">
            <table id="meta">
                <tbody>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Subtotal: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].subtotal}}</td>
                    </tr>
                    <tr *ngIf="billgst !== '2'">
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">CGST @2.5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].cgst}}</td>
                    </tr>
                    <tr *ngIf="billgst !== '2'">
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">SGST @2.5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].sgst}}</td>
                    </tr>
                    <tr *ngIf="billgst !== '2'">
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">IGST @5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst[0].igst}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Total Parking/Toll: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].parking}}</td>
                    </tr>
                    <tr *ngIf="billdetails.tail[0].customfa">
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">{{billdetails.tail[0].customfa}}</td>
                        <td class="meta-content">{{billdetails.tail[0].customfavalue}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left !important">Outstation charge for: {{billdetails.tail[0].outstationdays}} days &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; @ Rs. {{billdetails.tail[0].outstationrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Outstation Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].outstation}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Gross Amount: Rs.</td>
                        <td class="meta-content">{{normalgross}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;"><b>Rounded Gross Amount: Rs.</b></td>
                        <td class="meta-content">{{roundedgross}}.00</td>
                    </tr>
                </tbody>
            </table>
            <p style="float:right;margin-top: 50px;font-weight: bold; font-size: 20px;">Amount in words: <br/>{{amountInWord}}</p>
            <p *ngIf="billgst !== '2'" style="margin-left:700px;margin-top: 300px;font-weight: bold; font-size: 15px;">For IB Cabs</p>
        </div>
    </div>


</div>