.container{
    width:100%;
}

.mat-stroked-button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: silver;
}

.mat-card{
    margin-top:20px;
    margin-bottom:20px;
    background-color: #3f51b5;
    color:white;
}

.avatar-image-partyhead {
    background-image: url('https://images.unsplash.com/photo-1566909629119-f60df5a7a201?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
  }

.row{
    padding:10px;
}

.full{
    width:100%;
}

.mid{
    width:80%;
    padding-left:40%;
}

table {
    width: 100%;
    color:black;
  }

  #header{
    height: 30px;
    width: 100%;
    margin: 0px;
    background: #222;
    text-align: center;
    color: white;
    font: bold 14px Helvetica, Sans-Serif;
    text-decoration: uppercase;
    letter-spacing: 8px;
    padding: 8px 0px;
  }
  #customer-title {
    font-size: 16px;
    /* font-weight: bold; */
    float: left;
}
.mat-header-cell{
    font-weight: bold;
    font-size: 20px;
    color: black;
    border: 1px solid;
    padding-left: 5px;
    justify-content: center;
}

.mat-cell{
    color: black;
    border: 1px solid;
    padding-left: 5px;
    /* font-weight: bold; */
    font-size: 20px;
    justify-content: center;
}

table>tr{
    border: 1px solid;
   
}
.mat-row, .mat-footer-row, .mat-header-row {
    min-height: 30px;
    text-align: center;
    color: black;
    border-bottom-width: 0px !important;
}
td{ border: 1px solid; padding: 5px; font-size: 17px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px;}
th{ border: 1px solid; padding: 5px; font-size: 21px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px;}

/* .mat-row:last-child {
    font-weight: bold;
  } */

  .center{
    position: fixed;
    top: 50%;
    right: 0px;
    width: 115px;
    height: 0px;
    text-align:right;
    z-index:9999;
      margin-top:-15px;
  }
  
  .center a{
                  transform: rotate(-90deg);
                  -webkit-transform: rotate(-90deg); 
                  -moz-transform: rotate(-90deg); 
                  -o-transform: rotate(-90deg); 
                  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                  display: block; 
                  background: #06c; 
                 text-align:center;
                  height: 15px; 
                  width: 165px;
                  padding: 8px 16px;
                  color: #fff; 
                  font-family: Arial, sans-serif; 
                  font-size: 17px; 
                  font-weight: bold; 
                  text-decoration: none; 
                  border-bottom: solid 1px #333; border-left: solid 1px #333; border-right: solid 1px #fff;
          
  }
  
  .center a:hover { 
                  background: #CCC; 
              }

.mat-column-sl{
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 8% !important;
width: 8% !important;
overflow-wrap: break-word;
word-wrap: break-word;

word-break: break-word;

-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}

.mat-column-dutydate{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    word-break: break-word;
    
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    }
    .mat-column-km{
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 23% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        .mat-column-parking{
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        .mat-column-totpar{
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 6% !important;
            width: 8% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;
            
            word-break: break-word;
            
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            }
        .mat-column-totkm{
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 6% !important;
            width: 8% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;
            
            word-break: break-word;
            
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            }
            .mat-column-tothr{
                word-wrap: break-word !important;
                white-space: unset !important;
                flex: 0 0 6% !important;
                width: 8% !important;
                overflow-wrap: break-word;
                word-wrap: break-word;
                
                word-break: break-word;
                
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
                }
                .mat-column-out{
                    word-wrap: break-word !important;
                    white-space: unset !important;
                    flex: 0 0 6% !important;
                    width: 8% !important;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    
                    word-break: break-word;
                    
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    }

    .mat-column-carno{
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        
        word-break: break-word;
        
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        }
        .mat-column-out{
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 10% !important;
            width: 8% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;
            
            word-break: break-word;
            
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            }
        .mat-column-hour{
            word-wrap: break-word !important;
            white-space: unset !important;
            flex: 0 0 9% !important;
            width: 8% !important;
            overflow-wrap: break-word;
            word-wrap: break-word;
            
            word-break: break-word;
            
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            }

#customer-title, #meta{
    font-size: 20px;
}

.mat-sidenav{
    display: none;
}