    <div class="container">
        <form ngNativeValidate (submit)="savepartyhead()">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="full" >
                        <mat-label>Party Head Name</mat-label>
                        <input name="name" matInput placeholder="Party Head Name" [(ngModel)]="partyheaddetails.name" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Enter the Party Name</mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    
                    <mat-form-field appearance="outline" class="full" >
                        <mat-label>Master Company</mat-label>
                        <input type="text" placeholder="Master Company Name" matInput [(ngModel)]="partyheaddetails.master"
                        [matAutocomplete]="auto">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Enter the Group Name</mat-hint>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of masterlist" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <label>Bill To</label>
                    <input name="billto" type="text" class="form-control" placeholder="Enter Bill To" [(ngModel)]="partyheaddetails.billto">
                    
                    <br>
                    <label>Bill Subject</label>
                    <input name="subject" type="text" class="form-control" placeholder="Enter Bill Subject" [(ngModel)]="partyheaddetails.billsubject">

                </div>

                <div class="col-sm-6">
                    <label>Bill Address</label>
                    <textarea name="address" class="form-control" rows="2" [(ngModel)]="partyheaddetails.billaddress"></textarea>
                <br>

                <input name="contact" type="text" class="form-control" placeholder="Enter Contact number" [(ngModel)]="partyheaddetails.contact">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    
                    <label for = "start">Start Time</label>
                    <input name="start" type = "time" class = "form-control" id = "start" placeholder = "Start Time" [(ngModel)]="partyheaddetails.starttime">
                </div>    
                <div class="col-sm-3">
                    <label for = "end">End Time</label>
                    <input name="end" type = "time" class = "form-control" id = "end" placeholder = "End Time" [(ngModel)]="partyheaddetails.endtime">
                 
                </div>
                <div class="col-sm-3">
                    <label>GST</label>
                    <input name="gst" type="text" class="form-control" placeholder="Enter GST number" [(ngModel)]="partyheaddetails.gst">
                </div>
                <div class="col-sm-3">
                    <label>PAN</label>
                    <input name="pan" type="text" class="form-control" placeholder="Enter PAN number" [(ngModel)]="partyheaddetails.pan">

                </div>
            </div>


            <div class="row">
                  
                <div class="col-sm-3">
                        <label for = "gout">Min Before Reporting</label>
                        <input name="gout" type = "number" class = "form-control" id = "gout" placeholder = "Garage Out" [(ngModel)]="partyheaddetails.garageout">
                     
                </div>
                <div class="col-sm-3">
                    
                    <label for = "gin">Min After Reporting</label>
                    <input name="gin" type = "number" class = "form-control" id = "gin" placeholder = "Minute after Reporting" [(ngModel)]="partyheaddetails.garagein" >
                </div>  
                <div class="col-sm-3">
                    
                    <label for = "kmout">Km Before Reporting</label>
                    <input name="kmout" type = "number" class = "form-control" id = "kmout" placeholder = "Km Before Reporting" [(ngModel)]="partyheaddetails.kmout">
                </div>    
                <div class="col-sm-3">
                    <label for = "kmin">Km After reporting</label>
                    <input name="kmin" type = "number" class = "form-control" id = "kmin" placeholder = "Km After Reporting" [(ngModel)]="partyheaddetails.kmin">
                 
                </div>
            </div>



            <div class="row">
                <div class="col-sm-4">
                    
                        <label for = "dutyduration">Duty Duration Hrs.</label>
                        <input name="dutyduration" type = "number" class = "form-control" id = "dutyduration" placeholder = "Enter Duration" [(ngModel)]="partyheaddetails.dutyhr">
                </div>    
                <div class="col-sm-4">
                        <label for = "night">Night Charges</label>
                        <input name="night" type = "number" class = "form-control" id = "night" placeholder = "Night Charges" [(ngModel)]="partyheaddetails.nightcharge">
                     
                </div>
                <div class="col-sm-4">
                    
                        <label for = "ot">Over Time</label>
                        <input name="ot" type = "number" class = "form-control" id = "ot" placeholder = "Overtime Amount" [(ngModel)]="partyheaddetails.ot">
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <label>Rate Type</label>
                    <br>
                    <div class="form-control">
                        <div class="form-check form-check-inline">
                            <input  class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" 
                            value="option1" (change)="selectPack()" [disabled]="partyheadid.toString() != '0'" [checked]="partyheaddetails.ratetype == 0">
                            <label class="form-check-label" for="inlineRadio1">Package</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" 
                            value="option2" [disabled]="partyheadid.toString() != '0'" (change)="selectSlab()" [checked]="partyheaddetails.ratetype == 1">
                            <label class="form-check-label" for="inlineRadio2">Slabwise</label>
                        </div>
                    </div>
                </div>
                    
                <div class="col-sm-3" *ngIf="isPack">
                    
                    <label for = "amount">Package Amount</label>
                    <input name="amount" type = "number" class = "form-control" id = "amount" placeholder = "Total Amount" [(ngModel)]="partyheaddetails.package">
                </div>   
                <div class="col-sm-3" *ngIf="isPack">
                    
                    <label for = "duration">Package Duration</label>
                    <input name="duration" type = "number" class = "form-control" id = "duration" placeholder = "Enter Duration" [(ngModel)]="partyheaddetails.durationhour">
                </div>  
                
                <div class="col-sm-6" *ngIf="isSlab && this.partyheadid.toString() != '0'"><br>
                    <button type="button" (click)="openpartyrates()" class="btn btn-warning btn-lg">Add Slab Wise Rates</button>
                </div>
            </div>
            
           
            
            
            <div class="row" *ngIf="isPack">   
                <div class="col-sm-3">
                        <label for = "name">Fix Hr</label>
                        <input name="fixhr" type = "number" class = "form-control" id = "fixhr" placeholder = "Enter Duration" [(ngModel)]="partyheaddetails.fixhour">
                     
                </div>
                <div class="col-sm-3">
                    <label for = "Km">Fix Km</label>
                    <input name="km" type = "number" class = "form-control" id = "km" placeholder = "Enter Km" [(ngModel)]="partyheaddetails.fixkm" >
                 
                </div>
                <div class="col-sm-3">
                    
                        <label for = "amount">Amount per extra Hour</label>
                        <input name="amountextraHr" type = "number" class = "form-control" id = "amount" placeholder = "Amount per extra hour" [(ngModel)]="partyheaddetails.extrahour">
                </div>
                <div class="col-sm-3">
                        <label for = "name">Amount per extra KM</label>
                        <input name="amountextrKM" type = "number" class = "form-control" id = "duration" placeholder = "Amount per extra km" [(ngModel)]="partyheaddetails.extrakm">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
        </form>
    </div>