.container{
    width:100%;
}

.form-control{
    display:  flex;
}

.mat-stroked-button{
    margin-top: 40px;
    margin-bottom: 10px;
}
.row{
    padding:10px;
}


.full{
    width:100%;
}

.mid{
    width:100%;
    padding-left:40%;
}

table {
    width: 100%;
  }

