.container{
    width:100%;
}

.mat-stroked-button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: silver;
}

.mat-card{
    margin-top:20px;
    margin-bottom:20px;
    background-color: #3f51b5;
    color:white;
}

.avatar-image-partyhead {
    background-image: url('https://images.unsplash.com/photo-1566909629119-f60df5a7a201?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
  }

.row{
    padding:10px;
}

.full{
    width:100%;
}

.mid{
    width:80%;
    padding-left:40%;
}

table {
    width: 100%;
  }

.header-row{
    padding: 10px;
    background: gray;
    border-radius: 10px;
    width: 30%;
    color: white;
    font-weight: bold;
}
.green-btn{
    background: #67dd67;
    padding: 10px;
    border-radius: 5px;
    /* font-weight: bold; */
    border: 0px;
    margin-right: 10px;
}
.red-btn{
    background: #f22727;
    padding: 10px;
    border-radius: 5px;
    /* font-weight: bold; */
    border: 0px;
    margin-right: 10px;
}