        <div class="center">
          <p style="cursor: pointer; margin-right: 5px;" (click)="exportAsPDF('printdiv');"><img height="70" src="./../../../../assets/img/download.png"></p>
          <p *ngIf="isConfirmVisible" style="cursor: pointer; margin-right: 5px" (click)="save();"><img height="70" src="./../../../../assets/img/confirm.png"></p>
        </div>
        <div class="container" id="printdiv" style="max-width: 1400px; min-height: 2000px; max-height: 10000px;">
          <p id="header">JMS FOR KOL-DZIRE DEC 20</p>
          <button  mat-stroked-button style="margin-left: 10px" (click)="exporter.exportTable('xlsx', {fileName:'JMS', sheet: 'JMS Data'})"> Export To Excel</button>
            <br/><br/>
          <table style="width: 50%;">
            <tr>
              <td></td>
              <td>State</td>
              <td></td>
              <td>Kolkata</td>
            </tr>
            <tr>
              <td></td>
              <td>ARC No.</td>
              <td></td>
              <td>550003195</td>
            </tr>
            <tr>
              <td></td>
              <td>Work Order No. / Frame Order No.</td>
              <td></td>
              <td>540023633</td>
            </tr>
            <tr>
              <td></td>
              <td>Vendor Code</td>
              <td></td>
              <td>3195576</td>
            </tr>
            <tr>
              <td></td>
              <td>IMS No.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Period</td>
              <td></td>
              <td>1st Dec '20 to 31st Dec '20</td>
            </tr>
          </table>
          <div>
          <table style="width: 168%;">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <div > 
              <mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="sl">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Sl. No  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <!-- {{row.sl}} --> </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="city">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
                  <mat-cell *matCellDef="let row"> Kolkata </mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.user}} </mat-cell>
                </ng-container>
            
                <!-- Color Column -->
                <ng-container matColumnDef="carno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No. </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.car}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sitetype">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Site Type ( Office / JC / DC / Warehouse ) </mat-header-cell>
                  <mat-cell *matCellDef="let row"> Office </mat-cell>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="costcentre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> BE / BU / Cost Centre  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> 11101277 </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="realestate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Real Estate Key </mat-header-cell>
                  <mat-cell *matCellDef="let row"> RO 6011/11101277/11300000 </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pkgqty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Qty </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.packagequantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pkgamount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.packageamount}} </mat-cell>
                </ng-container>
            
                <!-- Color Column -->
                <ng-container matColumnDef="kmqty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Qty </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.extrakmquantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kmamount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.extrakmamount}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="hrqty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Qty </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.extrahrquantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="hramount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.extrahramount}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nightqty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Qty </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.nightquantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nightamount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.nightamount}} </mat-cell>
                </ng-container>
            
                <!-- Color Column -->
                <ng-container matColumnDef="outstationqty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Qty </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.outstationquantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="outstationamount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.outstationamount}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="parkingqty">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Qty </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.parkingquantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="parkingamount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.parkingamount}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>
            </div>
          </div>
            <!-- <div [ngStyle]="{'margin-top.px':marginTop}" id="customer" style="display: block;" class="row">
              <br><br>
            <div id="customer-title" class="col-xs-3" style="max-width: 300px;">
              <table>
                <tbody>
                  <tr>
                    <th class="meta-head" colspan="2" style="text-align: center !important;"><b>GST CALCULATION</b></th>
                  </tr>
                  <tr>
                      <td class="meta-head" style="text-align: right !important;">Taxable Amount : Rs.</td>
                      <td class="meta-content">{{billdetails.gst[0].taxableamount}}</td>
                  </tr>
                  <tr>
                      <td class="meta-head" style="text-align: right !important;">CGST @2.5% : Rs.</td>
                      <td class="meta-content">{{billdetails.gst[0].cgst}}</td>
                  </tr>
                  <tr>
                      <td class="meta-head" style="text-align: right !important;">SGST @2.5% : Rs.</td>
                      <td class="meta-content">{{billdetails.gst[0].sgst}}</td>
                  </tr>
                  <tr>
                      <td class="meta-head" style="text-align: right !important;">IGST @0% : Rs.</td>
                      <td class="meta-content">{{billdetails.gst[0].igst}}</td>
                  </tr>
                  <tr>
                      <td class="meta-head" style="text-align: right !important;">Total GST Amount : Rs.</td>
                      <td class="meta-content">{{billdetails.gst[0].total}}</td>
                  </tr>
                </tbody>
              </table> 
              <br>
              <br>
                  
              <table>
                <tbody>
                  <tr>
                    <td colspan="3" style="text-align: center !important;"><b> GST Amount in words: <br/>{{gstamountinwords}} </b></td>
                  </tr>
                </tbody>
              </table> 
              <br/><br/> 
              <table>
                <tbody>
                  <tr>
                    <td colspan="3" style="text-align: center !important;">PAN:AHOPB6443K</td>
                  </tr>
                  <tr>
                    <td colspan="3" style="text-align: center !important;">GSTIN:19AHOPB6443K1ZZ</td>
                  </tr>
                  <tr>
                    <td colspan="3" style="text-align: center !important;">SAC Code:996601</td>
                  </tr>
                </tbody>
                <br/>
                <span style="font-weight: bold">GST WIll BE PAID BY SERVICE RECIPIENT UNDER R.C.M VIDE NOTIFICATION NO : 22/2019<br/>ITC HAS NOT BEEN AVAILED</span> <br/><br/>
                <span>Enclose. : {{totalno}} no. of original duty slips</span>
              </table>

              <br>
                          
                   
            </div>

            <div class="col-xs-6" style="float: right;">
              <table id="meta">
                  <tbody>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Subtotal: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].subtotal}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Total Parking: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].parking}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left !important">Outstation charge for: {{billdetails.tail[0].outstationdays}} days &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  @ Rs. {{billdetails.tail[0].outstationrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Outstation Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].outstation}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Gross Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail[0].grosstotal}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="meta-head" style="text-align: right !important;"><b>Rounded Gross Amount: Rs.</b></td>
                      <td class="meta-content">{{roundedgross}}.00</td>
                    </tr>
                  </tbody>
                </table>
                <p style="margin-top: 50px;font-weight: bold; font-size: 20px;">Amount in words: <br/>{{amountInWord}}</p>
                <p style="float: right;margin-top: 300px;font-weight: bold; font-size: 15px;">For IB Cabs</p>
            </div>
              </div> -->

            
        </div>
