<div class="center">
    <!-- <p style="cursor: pointer; margin-right: 5px;" (click)="exportAsPDF('printdiv');"><img height="70" src="http://ibcabs.com/bills/new/assets/img/download.png"></p> -->
    <p *ngIf="isConfirmVisible" style="cursor: pointer; margin-right: 5px" (click)="save();"><img height="70" src="http://ibcabs.com/bills/new/assets/img/confirm.png"></p>
</div>
<div class="container" id="printdiv" style="max-width: 1400px; min-height: 2000px; max-height: 100000px;">
    <p id="header">TAX INVOICE</p>
    <div id="identity" class="row col-xs-12">
        <div class="col-xs-1">
            <img src="http://ibcabs.com/bills/new/assets/img/ib.jpg" style="height:90px;width:90px;margin-top:-8px;">
        </div>
        <div class="col-xs-8">
            <p id="address">Registered Office : 195/2,Park Street, Kolkata - 700017.<br> Zonal Office: 86A, Tollygunge Road, Kolkata-700033.<br> Mobile: 9830800776, Tel: (033) 2424 6551, (033) 4007 8545<br> Email: indranilb@ibcabs.com, admin@ibcabs.com. Visit us at:
                www.ibcabs.com
                <br></p>
        </div>
        <div class="col-xs-3 gst">

        </div>


    </div>
    <div id="customer" [ngStyle]="{'margin-top.px':marginTop, 'margin-bottom.px': marginTop}" class="row" [style.display]="'block'">
        <div id="customer-title" class="col-xs-4" style="margin-right: 0px; max-width: 500px">
            To<br><br/>
            <b>{{billdetails.head[0].billto}}</b><br/><br/> {{billdetails.head[0].billaddress}}
            <br/><br/> GST :<span style="margin-right: 10px;">{{billdetails.head[0].gst}}</span><span>PAN: {{billdetails.head[0].pan}}</span><br/><br/>
            <span><b>Subject:   {{billdetails.head[0].subject}}</b></span>
        </div>
        <!-- <div class="col-xs-4" style="width: 20%;">

              </div> -->
        <div class="col-xs-4" style="float: right;">
            <table id="meta">
                <tbody>
                    <tr>
                        <td class="meta-head"><b>Bill No.</b></td>
                        <td style="text-align: center;"><input style="border:none;text-align: center;" matInput type="text" [(ngModel)]="billno" required></td>
                    </tr>
                    <tr>
                        <td class="meta-head"><b>Bill Date</b></td>
                        <td style="text-align: center;"><input style="border:none;text-align: center;" matInput type="text" [(ngModel)]="billdate" required></td>
                    </tr>

                    <tr>
                        <td class="meta-head"><b>Billing Period</b></td>
                        <td>From: {{billfrom | date:'dd/MM/yyyy'}} To: {{billto | date:'dd/MM/yyyy'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <br/><br/>
    <!-- <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="avatar-image-partyhead"></div>
              <mat-card-title>Bill Register</mat-card-title>
              <mat-card-subtitle>View, Delete and View the Bills Here.</mat-card-subtitle>
            </mat-card-header>
          </mat-card> -->
    <div style="margin-top: 130px;">
        <table>
            <tr>
                <th style="text-align:center;">Sl. No</th>
                <th style="text-align:center;">Date</th>
                <th style="text-align:center;">Car No. </th>
                <th style="text-align:center;">Duty Hour</th>
                <th style="text-align:center;">Extra Hour</th>
                <th style="text-align:center;">Total KM</th>
                <th style="text-align:center;">Parking</th>
            </tr>
            <tr *ngFor="let row of billdetails.body">
                <td style="text-align:center;">{{row.sl}}</td>
                <td style="text-align:center;">{{row.dutydate | date:'dd/MM/yyyy'}}</td>
                <td style="text-align:center;">{{row.carno}}</td>
                <td style="text-align:center;">{{row.timerange}}</td>
                <td style="text-align:center;">{{row.hour}}</td>
                <td style="text-align:center;">{{row.km}}</td>
                <td style="text-align:center;">{{row.parking}}</td>
            </tr>
            <tr>
                <th style="text-align:center;">Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:center;">{{billdetails.bodytotal.hour}}</th>
                <th style="text-align:center;">{{billdetails.bodytotal.km}}</th>
                <th style="text-align:center;">{{billdetails.bodytotal.parking}}</th>
            </tr>
        </table>
    </div>

    <div [ngStyle]="{'margin-top.px':marginTop}" id="customer" style="display: block;" class="row">
        <br><br>
        <div id="customer-title" class="col-xs-3" style="max-width: 300px;">
            <table *ngIf="billgst !== '2'">
                <tbody>
                    <tr>
                        <th class="meta-head" colspan="2" style="text-align: center !important;"><b>GST CALCULATION</b></th>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">Taxable Amount : Rs.</td>
                        <td class="meta-content">{{billdetails.gst.taxableamount}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">CGST @2.5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst.cgst}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">SGST @2.5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst.sgst}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">IGST @5% : Rs.</td>
                        <td class="meta-content">{{billdetails.gst.igst}}</td>
                    </tr>
                    <tr>
                        <td class="meta-head" style="text-align: right !important;">Total GST Amount : Rs.</td>
                        <td class="meta-content">{{billdetails.gst.total}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>

            <table *ngIf="billgst !== '2'">
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align: center !important;"><b> GST Amount in words: <br/>{{gstamountinwords}} </b></td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            <table *ngIf="billgst !== '2'">
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align: center !important;">PAN:AHOPB6443K</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center !important;">GSTIN:19AHOPB6443K1ZZ</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center !important;">SAC Code:996601</td>
                    </tr>
                </tbody>
                <br/>
                <span style="font-weight: bold">GST WIll BE PAID BY SERVICE RECIPIENT UNDER R.C.M VIDE NOTIFICATION NO : 22/2019<br/>ITC HAS NOT BEEN AVAILED</span> <br/><br/>
                <span>Enclose. : {{totalno}} no. of original duty slips</span>
            </table>

            <br>


        </div>

        <div class="col-xs-6" style="float: right;">
            <table id="meta">
                <tbody>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Monthly Contract: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.monthlycontract}}</td>
                    </tr>
                    <tr>
                        <td>Contract Days: {{billdetails.tail.contractdays}} days, Extra Days: {{billdetails.tail.extraday}} @ Rs. {{billdetails.tail.exdayrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.extradaytotal}}</td>
                    </tr>
                    <tr>
                        <td>KM Limit: {{billdetails.tail.kmlimit}} KM, Extra KM: {{billdetails.tail.extrakm}} @ Rs.{{billdetails.tail.extrakmrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.kmextratotal}}</td>
                    </tr>
                    <tr>
                        <td>HR Limit: {{billdetails.tail.hrlimit}} Hr./Day, Extra HR: {{billdetails.tail.extrahr}} @ Rs.{{billdetails.tail.extrahrrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.hrextratotal}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Subtotal: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.subtotal}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;">Total Parking: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.parking}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left !important">Outstation charge for: {{billdetails.tail.outstationdays}} days &nbsp; @ Rs. {{billdetails.tail.outstationrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Outstation Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.outstation}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left !important">Night Bata ({{billdetails.tail.nightstart}} hrs to {{billdetails.tail.nightend}} hrs) for {{billdetails.tail.nightcount}} nights @ Rs. {{billdetails.tail.nightrate}}</td>
                        <td class="meta-head" style="text-align: right !important;">Amount: Rs.</td>
                        <td class="meta-content">{{billdetails.tail.nightcharge}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="meta-head" style="text-align: right !important;"><b>Rounded Gross Amount: Rs.</b></td>
                        <td class="meta-content">{{roundedgross}}.00</td>
                    </tr>
                </tbody>
            </table>
            <p style="float:right;margin-top: 50px;font-weight: bold; font-size: 20px;">Amount in words: <br/>{{amountInWord}}</p>
            <p style="margin-left:700px;margin-top: 300px;font-weight: bold; font-size: 15px;">For IB Cabs</p>
        </div>
    </div>


</div>