.example-container {
    height: 90%;
   /*  border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  .login-container{
    padding: 100px 500px 100px 500px;
  }
  .example-sidenav-content {
    padding: 10px;
    /* display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; */
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  /* .ng-star-inserted{
    width: 95% !important;
  } */