<div class="loading-screen-wrapper" *ngIf="loading">
  <div class="loading-screen-icon">
    Loading...
  </div>
</div>
   <div class="container">
        <form ngNativeValidate (submit)="generateBill()">
            <div class="row">
              <div class="col-sm-12">
                <label>Bill Format</label>
                <mat-select name="format" [(value)]="billDetails.format">
                    <mat-option value="1">
                      Bill A - CNN/IBN
                    </mat-option>
                    <mat-option value="2">
                      Bill B - ON CALL EXTRA 
                    </mat-option>
                    <mat-option value="3">
                      Bill C - Coal India 
                    </mat-option>
                    <mat-option value="4">
                      Bill D - Reliance 
                    </mat-option>
                </mat-select>
              </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field style="width: 80%; margin-right: 20px;">
                        <mat-label>Party Name</mat-label>
                        <input name="party" (blur)="somethingChanged()" [formControl]="partyselect" [matAutocomplete]="auto" matInput placeholder="Enter the party name here" [(ngModel)]="billDetails.party">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of partylist | async" [value]="option" >
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <label>Bill Date From</label>
                    <input name="billfrom" (blur)="somethingChanged()" type="date" class="form-control" placeholder="Enter Contact Number" [(ngModel)]="billDetails.from">
                </div>

                <div class="col-sm-6">
                    <label>Bill Date To</label>
                    <input name="billto" (blur)="somethingChanged()" type="date" class="form-control"[(ngModel)]="billDetails.to">
                </div>
            </div>
            <div class="row" *ngIf="billDetails.format === '3'">
              <div class="col-sm-12">
                <mat-form-field style="width: 80%; margin-right: 20px;">
                  <mat-label>Report To</mat-label>
                  <input name="report" [formControl]="reportselect" [matAutocomplete]="autoreport" matInput placeholder="Enter the report to name here" [(ngModel)]="billDetails.reportto">
                  <mat-autocomplete #autoreport="matAutocomplete">
                    <mat-option *ngFor="let option of reportlist | async" [value]="option" >
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="billDetails.format !== '2'">
                <div class="col-sm-6">
                    <label>Night Start Time</label>
                    <input name="nightstart" type="time" class="form-control" placeholder="Enter GST number" [(ngModel)]="billDetails.nightstart">
                </div>
                <div class="col-sm-6">
                    <label>Night End Time</label>
                    <input name="nightto" type="time" class="form-control" placeholder="Enter PAN Number" [(ngModel)]="billDetails.nightend">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label>GST Type</label>
                    <mat-select name="gst" [(value)]="billDetails.gsttype">
                        <mat-option value="0">
                          CGST / SGST
                        </mat-option>
                        <mat-option value="1">
                            IGST
                          </mat-option>
                    </mat-select>
                </div>
                <div class="col-sm-6">
                    <label>Parking included in GST ?</label>
                    <mat-select name="parkinggst" [(value)]="billDetails.parkinggst">
                        <mat-option value="0">
                          No
                        </mat-option>
                        <mat-option value="1">
                          Yes
                        </mat-option>
                      </mat-select>
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg">Generate</button>
                </div>
            </div>
        </form>
    </div>