.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .container{
    width:100%;
}

.mat-stroked-button{
    margin-top: 40px;
    margin-bottom: 10px;
}

.mat-card{
    margin-top:20px;
    margin-bottom:20px;
}

.avatar-image-partyhead {
    background-image: url('https://images.unsplash.com/photo-1587377838658-e7d21b152a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80');
    background-size: cover;
  }

.row{
    padding:10px;
}

.full{
    width:100%;
}

.mid{
    width:80%;
    padding-left:40%;
}

table {
    width: 100%;
  }

  .tab-css{
    padding: 10px;
      background: #e3dada;
      border: 1px solid #d4c7c7;
      border-radius: 5px;
      font-weight: 500;
      margin-right: 10px;
      cursor: pointer;
  }
  .btn-first{
    border: 1px solid #3f51b5;
    background: #3f51b5;
    color: white;
  }
  .btn-second{
    border: 2px solid #3f51b5;
    background: white;
    color: #3f51b5;
  }