<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar-image-partyhead"></div>
    <mat-card-title>Rental Detail - Add Update duties here</mat-card-title>
    <mat-card-subtitle>Add & Update DDR Here.</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out the duty details</ng-template>

      <mat-form-field style="width: 10%; margin-right: 10px;">
        <mat-label>Duty Date</mat-label>
        <input matInput type="date" formControlName="DutyControl" [(ngModel)]="rentalAdd.dutydate" required>
      </mat-form-field> 
      <mat-form-field style="width: 5%; margin-right: 10px;">
        <mat-label>Duty Time</mat-label>
        <input matInput type="time" formControlName="DutyTimeControl" [(ngModel)]="rentalAdd.dutytime" required>
      </mat-form-field> 


      <mat-form-field style="width: 15%; margin-right: 10px;">
        <mat-label>Party Name</mat-label>
        <input [matAutocomplete]="auto" matInput placeholder="Enter the party name here" [(ngModel)]="rentalAdd.party" formControlName="PartyControl" required>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeparty()">
          <mat-option *ngFor="let option of partylist | async" [value]="option" >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 

      <mat-form-field style="width: 10%; margin-right: 10px;">
        <mat-label>Dispatch Centre</mat-label>
        <input  [matAutocomplete]="autoCenter" matInput placeholder="Enter Report To Contact Number"  [(ngModel)]="rentalAdd.centerName" formControlName="DispatchControl" required>
        <mat-autocomplete #autoCenter="matAutocomplete">
          <mat-option value="Park Circus">
            Park Circus
          </mat-option>
          <mat-option value="Tollygunge">
            Tollygunge
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field style="width: 15%; margin-right: 10px;">
        <mat-label>Report Name</mat-label>
        <input matInput placeholder="Enter the report to name here" [matAutocomplete]="autoreport" [(ngModel)]="rentalAdd.reporttoname" formControlName="ReportControl" required>
        <mat-autocomplete #autoreport="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptionsReport | async" [value]="option" >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 
      <mat-form-field style="width: 10%; margin-right: 10px;">
        <mat-label>Report Contact</mat-label>
        <input matInput type="number" placeholder="Enter the report to contact no. here" [(ngModel)]="rentalAdd.reporttonum" formControlName="ReportContactControl">
      </mat-form-field>
      <button *ngIf="ddrrole === '1'"   class="btn-first"  mat-button (click)="savedata(stepper, '1')">Save Duty & Continue</button>
      <!-- <button *ngIf="ddrrole === '1'"   class="btn-second" mat-button (click)="savedatacreate(stepper, '1')">Save & Create New</button> -->
      <br/> 

       

      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Booked By Name</mat-label>
        <input matInput placeholder="Enter the booked by name here" [(ngModel)]="rentalAdd.bookedby" formControlName="BookedByControl">
      </mat-form-field> 
      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Booked By Contact Number</mat-label>
        <input matInput  type="number" placeholder="Enter the booked by contact no. here" [(ngModel)]="rentalAdd.bookedbycontact" formControlName="BookedContactControl">
      </mat-form-field>  
      <br/> 

     

      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Garage Buffer Km</mat-label>
        <input matInput type="number" formControlName="GOUTKMBufferControl" [(ngModel)]="rentalAdd.goutbeforekm">
      </mat-form-field>
      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Garage Buffer Time</mat-label>
        <input matInput type="number" formControlName="GOUTTimeBufferControl" [(ngModel)]="rentalAdd.goutbeforetime">
      </mat-form-field>
      <!-- <mat-form-field style="width: 20%; margin-right: 40px;">
        <mat-label>Garage In Buffer Km</mat-label>
        <input matInput  type="number" formControlName="GINKMBufferControl" [(ngModel)]="rentalAdd.ginbeforekm">
      </mat-form-field>
      <mat-form-field style="width: 20%; margin-right: 40px;">
        <mat-label>Garage In Buffer Time</mat-label>
        <input matInput  type="number" formControlName="GINTimeBufferControl" [(ngModel)]="rentalAdd.ginbeforetime">
      </mat-form-field> -->
      <br/>

      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Flight No. / Train No.</mat-label>
        <input matInput placeholder="Enter Flight / Train no." formControlName="FlightControl" [(ngModel)]="rentalAdd.transportinfo">
      </mat-form-field>
      
     

      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Notes / Remarks</mat-label>
        <input matInput placeholder="Enter Notes / Remarks here" [(ngModel)]="rentalAdd.note" formControlName="NotesControl">
      </mat-form-field>
      <br/>
      <br/>

      <div>
        <!-- <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="savedata(stepper, '1')">Save Duty & Continue</button> -->
        <button *ngIf="ddrrole === '1'"   class="btn-second" style="margin-right: 20px;" mat-button (click)="savedatacreate(stepper, '1')">Save Duty & Create New</button>
        <!-- <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="viewallduties()">View All Duties</button> -->
        <!-- <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button matStepperNext>Next</button> -->
      </div>
      <div>
        
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Assign Car & Driver">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out the driver details</ng-template>
      <mat-form-field style="width: 15%; margin-right: 20px;">
        <mat-label>Select Driver</mat-label>
        <input [(ngModel)]="rentalAdd.driver" [matAutocomplete]="autodriver" matInput placeholder="Select Driver" formControlName="DriverControl" required>
        <mat-autocomplete #autodriver="matAutocomplete" (optionSelected)="changedriver()">
          <mat-option *ngFor="let option of filteredOptionsDriver | async" [value]="option" >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field style="width: 15%; margin-right: 40px;">
        <mat-label>Select Car Type</mat-label>
        <input [(ngModel)]="rentalAdd.cartype" [matAutocomplete]="autocartypesingle" matInput placeholder="Enter Car Type" formControlName="CarTypeControl" required>
        <mat-autocomplete #autocartypesingle="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptionsCarType | async" [value]="option" >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field style="width:15%; margin-right: 40px;">
        <mat-label>Select Car Number</mat-label>
        <input [(ngModel)]="rentalAdd.carnum" [matAutocomplete]="autocar" matInput placeholder="Enter Car Number" formControlName="CarNumberControl" required>
        <mat-autocomplete #autocar="matAutocomplete" (optionSelected)="changecar()">
          <mat-option *ngFor="let option of filteredOptionsCar | async" [value]="option" >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 
      <mat-form-field style="width: 15%; margin-right: 40px;">
        <mat-label>Select Substitute Car</mat-label>
        <input [(ngModel)]="rentalAdd.replace" [matAutocomplete]="autocarsub" matInput placeholder="Enter Substitute Car Number" formControlName="SubCarNumberControl" required>
        <mat-autocomplete #autocarsub="matAutocomplete" (optionSelected)="changecar()">
          <mat-option *ngFor="let option of filteredOptionsCarSub | async" [value]="option" >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 
      <button *ngIf="ddrrole === '1'"   class="btn-second" style="margin-right: 20px;" mat-button (click)="savedatacreate(stepper, '2')">Save Duty & Create New</button>
      <p *ngIf="rentalAdd.carnum">Owner of the Car : {{ownername}}</p>
      <br/>
      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Driver Contact</mat-label>
        <input [(ngModel)]="rentalAdd.drivernum" matInput placeholder="Enter Driver Contact Number" formControlName="DriverContactControl" required>
      </mat-form-field>
      <br/>
      <br/> <br/>


      

      

      <div>
        <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="savedata(stepper, '2')">Save Duty & Continue</button> 
        <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="savedata(stepper, 'save')">Save Duty</button> <br><br>
        <!-- <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="viewallduties()">View All Duties</button> -->
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Complete Duty</ng-template>
    <form [formGroup]="thirdFormGroup">
    

      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Garage Out Time</mat-label>
        <input matInput [(ngModel)]="rentalAdd.gouttime"  type="datetime-local" formControlName="GOUTTIMEControl" required>
      </mat-form-field>
      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Garage Out KM</mat-label>
        <input matInput [(ngModel)]="rentalAdd.goutkm"  type="number" formControlName="GOUTKMControl" required>
      </mat-form-field>
      <br/>

      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Garage In Time</mat-label>
        <input matInput [(ngModel)]="rentalAdd.gintime"  type="datetime-local" formControlName="GINTIMEControl" required>
      </mat-form-field>
      <mat-form-field style="width: 40%; margin-right: 40px;">
        <mat-label>Garage In KM</mat-label>
        <input matInput [(ngModel)]="rentalAdd.ginkm"  type="number" formControlName="GINKMControl" required>
      </mat-form-field>
      <br/>
      
      <mat-form-field style="width: 30%; margin-right: 40px;">
        <mat-label>Parking</mat-label>
        <input matInput [(ngModel)]="rentalAdd.parking" placeholder="Enter Report To Contact Number" formControlName="ParkingControl" required>
      </mat-form-field>
      <mat-form-field style="width: 30%; margin-right: 40px;">
        <mat-label>Outstation Days</mat-label>
        <input matInput [(ngModel)]="rentalAdd.outstation" placeholder="Enter Report To Contact Number" formControlName="OutstationControl" required>
      </mat-form-field>
     
      <br/>
    </form>

    <div>
      <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="savedataandexit(stepper, '3')">Save Duty</button>
      <button *ngIf="ddrrole === '1'"   class="btn-second" style="margin-right: 20px;" mat-button (click)="savedatacreate(stepper, '3')">Save Duty & Create New</button>
      <!-- <button *ngIf="ddrrole === '1'"   class="btn-first" style="margin-right: 20px;" mat-button (click)="viewallduties()">View All Duties</button> -->
    </div>
  </mat-step>
</mat-horizontal-stepper>
