.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .container{
    width:100%;
}
td, th { border: 1px solid; padding: 5px }
.mat-stroked-button{
    margin-top: 40px;
    margin-bottom: 10px;
}

.mat-card{
    margin-top:20px;
    margin-bottom:20px;
}

.avatar-image-partyhead {
    background-image: url('https://images.unsplash.com/photo-1587377838658-e7d21b152a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80');
    background-size: cover;
  }

.row{
    padding:10px;
}

.full{
    width:100%;
}

.mid{
    width:80%;
    padding-left:40%;
}

table {
    width: 100%;
  }

.tab-css{
  padding: 10px;
    background: #e3dada;
    border: 1px solid #d4c7c7;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.tab-css-selected{
  padding: 10px;
  color: white;
    background: #3f51b5;
    border: 1px solid #d4c7c7;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.yellow-icon{
  background: yellow;
  padding: 5px 10px 5px 10px;
  border: 1px solid yellow;
  border-radius: 10px;
  font-weight: 500;
}
.orange-icon{
  background: #ff9900;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ff9900;
  border-radius: 10px;
  font-weight: 500;
}
.green-icon{
  background: #b2f3b2;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b2f3b2;
  border-radius: 10px;
  font-weight: 500;
}
.blue-icon{
  background: #b0ade5;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b0ade5;
  border-radius: 10px;
  font-weight: 500;
}
mat-header-row {
  position: sticky;
    top: 5px;
    background: rgba(174, 180, 213, 1);
}
.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  display: block;
}

.loading-screen-icon {
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-column-isselected{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-dutydate{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-partyname{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-reportto{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-driver{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-carnumber{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-cartype{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-goutkm{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-ginkm{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-gouttime{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-gintime{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-parking{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-outstation{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-night{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.bulktable ::ng-deep .mat-form-field-underline {
  display: none;
}
.mat-header-cell{
  font-size: 15px;
  font-weight: bold;
}

.mat-row:hover {
  background-color: rgb(218, 218, 218);
}

.mat-option.mat-active {
  background: rgb(100, 156, 230) !important;
}

.mat-option:hover{
  background: rgb(100, 156, 230) !important;
}

.mat-row::selection{
  background-color: rgb(218, 218, 218);
}

.highlight{
  background: rgb(194, 226, 182) !important;
}

