
        <div class="container">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="avatar-image-rate"></div>
              <mat-card-title>New User Creation  <!-- for {{ partyheadname }} --></mat-card-title>
              <mat-card-subtitle>Crete new user here </mat-card-subtitle>
            </mat-card-header>
          </mat-card>


            

            <div class="row">   
              <div class="col-sm-3">
                <mat-form-field>
                      <input matInput name="name" [(ngModel)]="name" placeholder="Enter name of the user">
                    </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                  <input  matInput name="username" [(ngModel)]="username" placeholder="Enter user name of the user">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field>
                      <input  type="password" matInput name="pass" [(ngModel)]="password" placeholder="Enter password of the user">
                    </mat-form-field>
              </div>
              <!-- <div class="col-sm-3">
                <mat-form-field>
                      <mat-select [(value)]="role">
                        <mat-option value="1">
                          Admin User
                        </mat-option>
                        <mat-option value="2">
                          Edit User
                        </mat-option>
                        <mat-option value="3">
                          Edit / Delete User
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div> -->
          </div>
          <button mat-stroked-button (click)="addUser()" >Create New User</button>
          <br/>
          <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name  </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="role">
              <mat-header-cell *matHeaderCellDef mat-sort-header> User Role </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="option">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Options </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.option">
                    <span *ngIf="userrole === 'ibcabs' && row.username !== 'ibcabs'" style="margin-left: 10px; margin-right: 10px; cursor: pointer;" class="material-icons" (click)="deleteUser(row.username)">
                      delete
                    </span>
                </mat-cell>
              </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
